.btn {
  margin-right: 15px;
}
.btn.btn-primary,
.btn.btn-info {
  font-size: 24px;
}
.btn.btn-primary {
  width: 120px ;
}


.form-control {
  resize: none;
  margin-bottom: 15px;
}


form .btn.btn-primary {
  width: 150px;
}

.edit-panel {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.edit-panel .form-control {
  flex: 0 1 30%;
  height: 100%;
  margin-bottom: 0px;
}

.edit-panel button:last-child {
  margin-left: auto;
}

.nav-item {
  font-size: 40px;
}

.bi.bi-x-lg {
  margin-left: auto;
}

@media (max-width: 768px) {
  .edit-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .edit-panel .form-control {
    flex: 1 1 auto;
    margin-right: 15px;
    margin-bottom: 0px;
  }

  .btn.btn-info,
  .btn.btn-primary {
    font-size: 1rem;
  }

  .tabs-panel {
    text-align: center;
  }
  .nav.nav-tabs {
    display: block;
  }

  .nav-item {
    font-size: 20px;
  }

  .btn {
    margin-right: 7px;
  }

  .btn.btn-primary {
    width: auto;
    margin-bottom: 7px;
  }
}
