* {
  margin: 0;
  box-sizing: border-box;
  color:var(--main-text-color);
}

body {
  font-size: 16px;
}

h1 {
  font-size: 60px !important;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 40px !important;
}
