.wrapper {
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
    padding: 15px;
    height: 100vh;
}

.task-table {
    width: 1400px;
    min-height: 70vh;
    background-color: var(--main-bg-color);
    padding: 30px;
}

.edit-panel {
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}