.nav__link {
    width: 50px;
    height: 25px;
    font-size: 40px;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
}

/* .nav__link--active {
    color: red;
} */
.active {
    color: red;
}