.task-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task-item {
    display: flex;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 15px;
}

.task-item__descr {
    flex: 1 1 66.67%;
}
.task-item__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 33.33%;
}
